<div class='container mx-auto flex items-center justify-end min-h-screen'>
  <div class='absolute top-0 left-0 w-screen h-screen'>
    <figure class="w-full h-full">
      <img
        src='https://images.unsplash.com/photo-1701397453532-d3e85e35fc4a?q=80&w=3870&auto=format&fit=crop'
        alt='Điểm danh'
        class='object-cover w-full h-full'
      />
    </figure>
  </div>
  <div class='w-full lg:w-1/2 xl:w-1/3'>
    <div class='card lg:card-side bg-base-100 shadow-xl max-w-4xl w-full h-full'>
      <div class='card-body lg:w-1/2'>
        {{#if error}}
          <h2 class='card-title text-2xl font-bold mb-6'>Lỗi</h2>
          <p>{{error}}</p>
        {{else}}
          <h2 class='card-title text-2xl font-bold mb-6'>Điểm danh</h2>
          <p>Khách mời
            <b>{{guestName}}</b>
            (<a href='mailto:{{guestEmail}}' class="font-medium text-blue-600 dark:text-blue-500 hover:underline">{{guestEmail}}</a>) đã được xác nhận tham gia hội nghị
            <b>{{meetingName}}</b>
            vào lúc
            <b>{{attendTime}}</b></p>
        {{/if}}
      </div>
    </div>
  </div>
</div>